* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  background-color: black;
}

nav a:hover {
  color: blue;
}
nav a {
  color: white;
}

footer > div {
  background-color: black;
}

body {
  background-image: url(../Images/register.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.mainwraper {
  min-height: 100vh;
}

.icons {
  font-size: 1.5em;
  opacity: 0.7;
}
.icons:hover {
  opacity: 1;
}

.fa-facebook {
  color: blue;
}
.fa-twitter {
  color: cyan;
}
.fa-youtube {
  color: red;
}

.formwraper {
  background-color: black;
  opacity: 0.7;
  padding: 30px;
  border-radius: 30px;
}

.formwraper:hover {
  opacity: 1;
}

.bgImg {
  background-image: url(../Images/register.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
